<%- include('../public/page_header') %>

<div class="container-fluid">
    <div class="row">
       
        <div class="panel panel-default">              
            <div class="panel-heading">
              修改管理员
            </div>
            <div class="panel-body">
                <div class="table-responsive input-form">
                    <form action="/<%= config.adminPath %>/manager/doEdit" method="post">
                        <input type="hidden" value="<%= adminResult._id %>" name="_id">
                        <ul>
                            <li>  管理员名称: <input type="text" name="username" value="<%= adminResult.username %>" disabled readonly /></li>
                            <li>  管理员密码: <input type="password" name="password" /></li>
                            <li>  管理员电话: <input type="text" name="mobile" value="<%= adminResult.mobile %>" /></li>
                            <li>  管理员邮箱: <input type="text" name="email" value="<%= adminResult.email %>" /></li>
                            <li>  管理员角色: 
                                <select name="role_id" id="role_id">
                                    <% for (let item of roleResult) { %>
                                        <% if (item._id.toString() === adminResult.role_id.toString()) { %>
                                            <option selected value="<%= item._id %>"><%= item.title %></option>
                                        <% } else { %>
                                            <option value="<%= item._id %>"><%= item.title %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </li>

                            <li>
                                <br/>
                                <button type="submit" class="btn btn-default">提交</button>
                            </li>

                        </ul>


                    </form>
                </div>
            </div>


        </div>

    </div>
</div>

</body>
</html>