<%- include('../public/page_header') %>

<div class="container-fluid">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                角色授权
            </div>
            <div class="panel-body">

                <form action="/<%=config.adminPath%>/role/doAuth" method="POST">

                    <input type="hidden" value="<%=role_id%>" name="role_id" />
                    <table class="table table-bordered">


                        <% for (let item of list) { %>


                        <tr>
                            <td align="right" style="background: #D8E2FA; padding-right: 10px; width: 150px;">
                                <label>
                                    <input type="checkbox" class="module_cbo" <%if(item.checked){%> checked
                                        <%}%> value="<%=item._id%>" name="access_node[]">&nbsp;&nbsp;
                                    <%=item.module_name%>
                                </label>
                            </td>
                            <td>
                                <% for (let sub of item.items) { %>
                                &nbsp;&nbsp;
                                <label>
                                    <input type="checkbox" class="action_cbo" <%if(sub.checked){%> checked
                                        <%}%>  value="<%=sub._id%>" name="access_node[]">
                                    &nbsp;&nbsp;<%=sub.action_name%></label>&nbsp;

                                <%}%>
                                    </td>
                                </tr>
                       <%}%>

                    </table>

                    <input type="submit" value="提交" class="btn btn-primary" />
                </form>
            </div>


        </div>

    </div>
</div>

</body>

</html>